$white: #fff;
$black: #000;
$blue: #1c84c6;
$green: #00aa88;
$yellow: #f8ac59;
$red: #ED5565;
$backgroud: rgb(233, 232, 232);

$bp-maggie: 15em; 
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;