<% if flash[:error] %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% flash[:error].to_s.split(",").each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>